<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336898313095-fsu5728bvp4dg0tjnojbn498cu9qv7i9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336898313095-fsu5728bvp4dg0tjnojbn498cu9qv7i9</string>
	<key>API_KEY</key>
	<string>AIzaSyBWQ0H2cJ1rVO1M4xrLrhP6Xcxap0vCHE0</string>
	<key>GCM_SENDER_ID</key>
	<string>336898313095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.beyin.sailspad</string>
	<key>PROJECT_ID</key>
	<string>sailspad-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>sailspad-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336898313095:ios:a4af7763bd559692f06122</string>
</dict>
</plist>